@use 'sass:map';
@use 'variables' as *;

@mixin bp($size) {
  $px: map.get($breakpoints, $size);
  @if $px {
    @media (max-width: $px) {
      @content;
    }
  }
}

@mixin center-flex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
